<!DOCTYPE html>
<html>
<head>
  <title>ArduinoRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container" style="padding:20px;">
    <%= yield %>
  </div>
</body>
</html>
